Django==1.5.1
django-generate-scaffold==0.0.5a0
django-rest-swagger==0.3.5
djangorestframework==2.3.12
ecdsa==0.10
Fabric==1.8.1
ipython==1.2.0
paramiko==1.12.1
pycrypto==2.6.1
PyYAML==3.11
wheel==0.24.0
